.element {
    .banner_element {
        img {
            width: 100%;
        }
    }

    .col-title {
        margin-top: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #d3caca;
    }
}
