.element {
  .banner_element {
    width: 100%;
    background-position: 50% 50% !important;
    background-size: cover !important;

  }

  .col-title {
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d3caca;
  }
}
