header {
    .header {
        background: $basecolor;
        min-height: 100px;
        padding: 20px;

        .site-logo {
            img {
                height: 100px;
            }
        }
    }

    nav {
        &.navbar {
            background: #f1f1f1;
        }
    }
}
