/* BASE TYPOGRPHY */

/* These are the default styles for the Simple theme */
body {
    font-size: 16px; /* This overrides the browsers default font size */
    line-height: 20px; /* If you change the font-size make sure you change the line-height value as well - the usual ratio is around 1.5 (font-size x 1.5 = line-height) */
    margin-bottom: 20px;
    color: #333333;
    font-family: "Open Sans", sans-serif;
}

body a {
    text-decoration: none;
}

/* this removes the underline from all links */
body a:link {
    -webkit-tap-highlight-color: #000
}


/* HEADERS */
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif; /* This references one of the custom @font-face fonts - the other fonts that are referenced are fallbacks for browsers that don't support @fontface */
    font-weight: normal;
    margin-bottom: 10px;
    color: #444;
}

.typography h1 {
    font-size: 36px;
    line-height: 45px;
    margin: 0 0 25px 0;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
}

.typography h2 {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 15px;
}

.typography h3 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
}

.typography h4 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
}

.typography h5 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}

.typography h6 {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}


/* PARAGRAGHS */
.typography p {
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 20px;
    font-family: "Open Sans"
}

.typography .intro {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 20px;
}

::selection,
::-moz-selection { /* Applies style to highlighted portion of a page */
    background: #b80000;
    color: #fff;
    text-shadow: none;
}

/* LINKS */
.typography a,
.typography a.intro {
    /*color: blue;*/
    text-decoration: none;
}

.typography a:hover {
    color: #000;
    /*border-bottom: 1px dashed #B80000;*/
}

.typography a:focus {
    outline: none;
}

.typography ul {
    font-size: 14px;
}

/* adds disc style bullet to the list */
.typography li {
    margin-bottom: 5px;
}


/* TABLE STYLES
-------------------------------------------- */
.typography table {
    border-collapse: collapse; /* borders are collapsed into a single border when possible */
    border: 1px solid #d4d4d4;
    border-spacing: 0; /* The border-spacing property sets the distance between the borders of adjacent cells - acts as a backup to border-collapse: collapse */
    margin-bottom: 10px;
}

.typography table.mce-item-table.center {
    margin: 0 auto;
}

.typography table.center {
    margin: 0 auto;
}

.typography table.right {
    margin-left: auto;
}

.typography table.left {
    margin-right: auto;
}

.typography table tr:nth-child(even) {
    background-color: #ededed
}

.typography table tr.even, .typography table th, .typography thead td {
    background-color: #ededed
}

.typography table td, .typography table th {
    padding: 2px 5px;
    border: 1px solid #d4d4d4;
    vertical-align: top;
}

.typography table th {
    font-weight: bold;
}


/* WYSIWYG EDITOR ALIGNMENT CLASSES
-------------------------------------------- */
.typography .text-left {
    text-align: left;
}

.typography .text-center {
    text-align: center;
}

.typography .text-right {
    text-align: right;
}

.typography .text-justify {
    text-align: justify;
}

/* IMAGES
-------------------------------------------- */
.typography img {
    height: auto; /* resets the image height so that it maintains its aspect ratio when width is set */
}

.typography img.left {
    float: left;
    max-width: 50%;
    margin: 5px 40px 10px 0;
}

.typography img.right {
    float: right;
    max-width: 50%; /* Responsive width */
    margin: 5px 0 10px 40px;
}

.typography img.leftAlone {
    float: left;
    margin-right: 100%;
    margin-bottom: 10px;
    clear: both;
}

.typography img.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    clear: both;
}

.typography .captionImage {
    width: 100%;
    margin-top: 5px;
}

.typography .captionImage img {
    margin: 0;
}

.typography .captionImage.left {
    float: left;
    margin: 5px 30px 20px 0px;
}

.typography .captionImage.right {
    float: right;
    margin: 5px 0 20px 30px;
}

.typography .captionImage.left[style],
.typography .captionImage.right[style] {
    max-width: 50%; /* Overides core width to make responsive */
}

.typography .captionImage.left img,
.typography .captionImage.right img {
    float: none;
    max-width: none;
    width: 100%;
}

.typography .captionImage.left img {
    margin-right: -10px;
}

.typography .captionImage.right img {
    margin-left: -10px;
}

.typography .captionImage.right p {
    margin-left: -10px;
    text-align: left;
}

.typography .captionImage.leftAlone {
    float: none;
    margin: 0 20px 20px 0px;
}

.typography .captionImage.center {
    margin: 0 auto 20px;
}

.typography .captionImage p {
    clear: both;
    margin: 5px 0;
    font-style: italic;
    color: #888;
}

/*Embed Video section in RTE*/
.typography .leftAlone.ss-htmleditorfield-file.embed {
    text-align: left;
    margin-right: auto;
}

.typography .rightAlone.ss-htmleditorfield-file.embed {
    text-align: right;
    margin-left: auto;
}

.typography .center.ss-htmleditorfield-file.embed {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
